<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body class="bg-light">
        <header class="container text-center bg-info mt-2">
            <h1>Lista de Tarefas</h1>
        </header>
        <hr>
        <main class="container">
            {% block main %}
            {% endblock %}
        </main>
        <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js')}}" ></script>
        <script src="{{ url_for('static', filename='js/jquery.slim.min.js') }}"></script>
        {% block script %}
        {% endblock %}
    </body>
</html>